In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import pickle
sns.set_theme(style="whitegrid")

In [4]:
df = pd.read_pickle('data/yearly_df.pkl')
df.head(10)

,yearID,franchID,W,R,AB,H,2B,3B,HR,BB,...,DivWin_Y,WCWin_Y,LgWin_Y,WSWin_Y,run_diff,ba,linedrivepercent,xobp,xwoba,vegas_win_total
0,2017,STL,83,761,5470,1402,284,28,196,593.0,...,0,0,0,0,56,0.256307,25.8,0.330,0.326,86.0
1,2015,MIL,68,655,5480,1378,274,34,145,412.0,...,0,0,0,0,-82,0.251460,27.0,0.290,0.289,78.5
2,2017,ARI,93,812,5525,1405,314,39,220,578.0,...,0,1,0,0,153,0.254299,25.5,0.323,0.319,77.5
3,2019,ANA,72,769,5542,1368,268,21,220,586.0,...,0,0,0,0,-99,0.246842,25.2,0.327,0.321,83.5
4,2017,ANA,80,710,5415,1314,251,14,186,523.0,...,0,0,0,0,1,0.242659,23.4,0.318,0.312,79.5
5,2019,ARI,85,813,5633,1419,288,40,220,540.0,...,0,0,0,0,70,0.251908,24.4,0.319,0.317,77.0
6,2018,BAL,47,622,5507,1317,242,15,188,422.0,...,0,0,0,0,-270,0.239150,24.0,0.294,0.297,77.5
7,2017,LAD,104,770,5408,1347,312,20,221,649.0,...,1,0,1,0,190,0.249075,25.0,0.334,0.330,93.5
8,2016,SDP,68,686,5419,1275,257,26,177,449.0,...,0,0,0,0,-84,0.235283,25.6,0.295,0.291,75.0
9,2018,TOR,73,709,5477,1336,320,16,217,499.0,...,0,0,0,0,-123,0.243929,25.0,0.316,0.325,81.5

In [5]:
df.describe()

,yearID,W,R,AB,H,2B,3B,HR,BB,SO,...,DivWin_Y,WCWin_Y,LgWin_Y,WSWin_Y,run_diff,ba,linedrivepercent,xobp,xwoba,vegas_win_total
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,...,150.00000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.00000,150.000000
mean,2017.000000,80.973333,733.800000,5524.660000,1397.693333,277.920000,28.260000,193.233333,510.473333,1337.080000,...,0.20000,0.133333,0.066667,0.033333,0.000000,0.252916,25.481333,0.312853,0.31086,81.230000
std,1.418951,12.675054,76.678532,71.727376,67.263475,25.641964,9.395437,38.930573,67.462910,126.072075,...,0.40134,0.341073,0.250279,0.180107,125.170488,0.009899,1.265727,0.011798,0.01301,8.031948
min,2015.000000,47.000000,573.000000,5330.000000,1251.000000,222.000000,5.000000,100.000000,375.000000,973.000000,...,0.00000,0.000000,0.000000,0.000000,-333.000000,0.233570,22.400000,0.284000,0.28300,59.000000
25%,2016.000000,71.000000,680.500000,5478.250000,1349.250000,259.250000,21.000000,165.250000,460.250000,1253.500000,...,0.00000,0.000000,0.000000,0.000000,-97.500000,0.245868,24.700000,0.306000,0.30200,75.750000
50%,2017.000000,81.000000,729.000000,5520.500000,1392.000000,277.000000,28.000000,193.500000,512.000000,1331.500000,...,0.00000,0.000000,0.000000,0.000000,-4.500000,0.252226,25.300000,0.313000,0.31000,81.500000
75%,2018.000000,91.000000,773.250000,5566.500000,1441.500000,292.000000,33.750000,220.000000,561.750000,1424.750000,...,0.00000,0.000000,0.000000,0.000000,88.500000,0.258923,26.175000,0.320750,0.31975,86.000000
max,2019.000000,108.000000,943.000000,5770.000000,1598.000000,355.000000,56.000000,307.000000,656.000000,1595.000000,...,1.00000,1.000000,1.000000,1.000000,280.000000,0.281834,29.300000,0.337000,0.34500,97.500000

In [16]:
mets = df.loc[df['franchID']=='NYM']
mets.head()

,yearID,franchID,W,R,AB,H,2B,3B,HR,BB,...,DivWin_Y,WCWin_Y,LgWin_Y,WSWin_Y,run_diff,ba,linedrivepercent,xobp,xwoba,vegas_win_total
11,2018,NYM,77,676,5468,1282,265,34,170,566.0,...,0,0,0,0,-31,0.234455,23.4,0.307,0.297,80.5
26,2017,NYM,70,735,5510,1379,286,28,224,529.0,...,0,0,0,0,-128,0.250272,24.5,0.316,0.315,88.5
72,2016,NYM,87,671,5459,1342,240,19,218,517.0,...,0,1,0,0,54,0.245833,26.5,0.314,0.310,89.0
118,2015,NYM,90,683,5527,1351,295,17,177,488.0,...,1,0,1,0,70,0.244436,26.8,0.310,0.309,81.5
134,2019,NYM,86,791,5624,1445,280,17,242,516.0,...,0,0,0,0,54,0.256935,25.4,0.322,0.319,83.5

In [28]:
mets.sort_values(by='R', ascending=True, axis=1)
mets.head()

KeyError: 'R'